<html>
<head>
    <title>Explainer</title>
</head>
<body>


    {% for message in history %}

    {% if message.role == 'system'%}
    <p><b>Prompt:</b><br>{{message.content}}</p>
    {% endif %}

    {% if message.role == 'user'%}
    <p><b>Question:</b><br>{{message.content}}<br></p>
    {% endif %}

    {% if message.role == 'assistant'%}
    <p><b>Response:</b><br>{{message.content}}<br></p>
    {% endif %}

    {% endfor %}


    <h4>What you don't understand?</h4>
    <form action="/question" method="post">


        <label for="question">Ask:</label>
        <input type="text" id="question" name="question" required>
        <br><br>
        <input type="hidden" id="client_id" name="client_id" value="{{ client_id }}">
        <button type="submit">Submit</button>
    </form>


</body>
</html>